<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redmatory.dactilogo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/r3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/r3"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dactilogo">
        <activity
            android:name=".p5"
            android:exported="false" />
        <activity android:name=".r.p3" />
        <activity android:name=".MainActivity" />
        <activity android:name=".m.p2" />
        <activity
            android:name=".p1"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>